.login{
    max-width: 450px;
    background-color: var(--magenda);
    padding: 20px 15px;
    margin: auto;
    margin-top: 40px;
    border-radius: 5px;
}
.login .form{
    display: flex;
    flex-flow: column;
    row-gap: 10px;
}
.control{
    display: flex;
    flex-flow: column;
    align-items: start;
    row-gap: 5px;
}
.control input{
    width: 100%;
    padding: 7px 5px;
    border: none;
    outline: none;
    border-radius: 3px;
}
.control .invalid input{
    background-color: orange;
}
.login .control input:focus{
    background-color: var(--skyBlue);
}
.control:last-child {
    width: 100%;
    display: flex;
    align-items: center;
}

